// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// summernote
@import "~summernote/dist/summernote-bs4";
@import "~codemirror/lib/codemirror";

.breadcrumb {
    background-color: #fff !important;
    border: 1px solid #dee2e6 !important;
    border-radius: $border-radius;
}

/* form signin */
.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}
.form-signin .checkbox {
    font-weight: 400;
}
.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/* sidebar */
.sidebar .nav-link {
    color: #333;
    font-weight: 500;
}

.sidebar .nav-link:hover {
    font-weight: 200;
    text-decoration: underline;
}
.sidebar .nav-link.active {
    color: #007bff;
}
